@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 150px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 50px;
}
.col-1 h3{
    font-size: 30px;
    font-weight: 300;
    margin: 20px 0 100px;
}
.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(rgb(78, 77, 77),#000);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.scooter-img{
    width: 80%;
    animation: load 1s ease-in;
}
.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(rgb(78, 77, 77),rgb(39, 39, 39));
    border-radius: 20px 0 0 20px;
    width: 80%;
    height: 100%;
    z-index: -1;
    transform: translateX(150px);
}
.social-links img{
    height: 20px;
    margin: 20px;
    cursor: pointer;
}
.social-links{
    text-align: center;
}

@media only screen and (max-width: 700px){
    nav ul{
        width: 100%;
        background: linear-gradient(rgb(78, 77, 77),rgb(39, 39, 39));
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .scooter-img{
        width: 70%;
    }
    .color-box{
        transform: translateX(75px);
    }
    .col-1{
        flex-basis: 100%;
    }
    .col-1 h2{
        font-size: 35px;
    }
    .col-1 h3{
        font-size: 30px;
    }
}

@keyframes load {
    0%{
        left: 0;
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0px);
    }
}